
.nav-bar {
    margin-bottom: 2%;
    background-color: black;
    flex-grow: unset;
    opacity: 0.75;
}

.nav-bar a {
    color: white;
}

.nav-icons{
    display: flex;
    justify-content: right;
}


